/************ DATAPICKER ************/
#bodyID{
    .picker__footer{
        .btn-flat{
            font-size: .8em;
            padding: 8px;
        }
        .picker__close{  color:  @gray-color;           }
        .picker__clear{  color:  @red-color;            }
        .picker__today{  color:  @blue-splash-color;    }
    }

    .picker__header select{
        border-color: transparent;
    }

    .converter-digit{
        .full-label{
            width: 90%;
            height: 4em;
        }
    }

}