.modal {
    background-color: rgba(0,0,0,0.85);
    .modal-dialog {
        max-width: 600px !important;

        .modal-content{
            background-color: transparent;

            .modal-header {
                border-bottom: 0px solid #e9ecef;

                .close {
                    font-size: 3em;
                    color: @white-color;
                    text-shadow: 0 1px 0 @white-color;
                }
            }

            .modal-body {
                padding: 0 !important;
            }

            button:focus {
                background-color: transparent;
            }

            .timeline-item, .modal-header{
                background-color: transparent;
                .niceDate{
                    text-align: center;
                    color: @red-color;
                    padding: 10px 0;
                }
            }
        }
    }
}