@background-color           : #fdfdda;
@gray-color                 : rgb(121, 116, 116);
@light-gray-color           : rgba(0, 0, 0, 0.42);
@red-color                  : #ff0000;
@text-color                 : rgba(0,0,0,0.87);
@additional-text-color      : rgba(0,0,0,0.67);
@secondary-text-color       : rgba(0,0,0,0.54);
@hint-text-color            : rgba(0,0,0,0.26);
@divider-color              : rgba(0,0,0,0.12);
@primary-color              : #00BCD4;
@accent-color               : #FF4081;
@contrast-text-color        : rgba(255,255,255,0.9);
@white-color                : #fff;
@green-color                : #28a745;
@black-color                : #000;
@blue-splash-color          : #5C55FD;
@color-toggler              : rgba(0, 0, 0, 0.5);
@color-border-toggler       : rgba(0, 0, 0, 0.1);

@box-shadow-color           : rgba(158, 158, 158, 0.3);
@box-shadow-color-second    : rgba(248, 247, 255, 0.32);
@box-border-color           : rgba(0,0,0,.125);
@button-shadow-color         : rgba(158, 158, 158, 0.625);

@team-color                 : gold;
@team-background-color      : #019c1d;
@team-light-color           : #28a745;
@team-border-color          : #74ff92;

/******** datepicker *******/
@border-datapicker          : #e7e9ea;
@background-datapicker      : #eee;
@select-datapicker          : #495057;

@caption-card               : #d1ecf1;
@caption-table              : #9ed4df;
@caption-table-border       : #67b2c2;
@text-shadow                : rgba(255,255,255,.55);
@modal-background           : rgba(0, 0, 0, 0.65);

/************* MDB colors ************/
@element-focus              : #4285F4;
@box-shadow-MDB             : rgba(0,0,0,.18);