@background-color           : #fdfdda;
@gray-color                 : rgb(121, 116, 116);
@light-gray-color           : rgba(0, 0, 0, 0.42);
@red-color                  : #ff0000;
@text-color                 : rgba(0,0,0,0.87);
@additional-text-color      : rgba(0,0,0,0.67);
@secondary-text-color       : rgba(0,0,0,0.54);
@hint-text-color            : rgba(0,0,0,0.26);
@divider-color              : rgba(0,0,0,0.12);
@primary-color              : #00BCD4;
@accent-color               : #FF4081;
@contrast-text-color        : rgba(255,255,255,0.9);
@white-color                : #fff;
@green-color                : #28a745;
@black-color                : #000;
@blue-splash-color          : #5C55FD;
@color-toggler              : rgba(0, 0, 0, 0.5);
@color-border-toggler       : rgba(0, 0, 0, 0.1);

@box-shadow-color           : rgba(158, 158, 158, 0.3);
@box-shadow-color-second    : rgba(248, 247, 255, 0.32);
@box-border-color           : rgba(0,0,0,.125);
@button-shadow-color         : rgba(158, 158, 158, 0.625);

@team-color                 : gold;
@team-background-color      : #019c1d;
@team-light-color           : #28a745;
@team-border-color          : #74ff92;

/******** datepicker *******/
@border-datapicker          : #e7e9ea;
@background-datapicker      : #eee;
@select-datapicker          : #495057;

@caption-card               : #d1ecf1;
@caption-table              : #9ed4df;
@caption-table-border       : #67b2c2;
@text-shadow                : rgba(255,255,255,.55);
@modal-background           : rgba(0, 0, 0, 0.65);

/************* MDB colors ************/
@element-focus              : #4285F4;
@box-shadow-MDB             : rgba(0,0,0,.18);

/*********** BUTTONS  start*************/
@button-text-shadow         : rgba(255,255,255,.5) 0 -1px 0, rgba(0,0,0,.2) 0 .18em .15em;
@button-border-top          : rgba(255,255,255,.1);
@button-border-bottom       : rgba(0,0,0,.1);
@button-background          : #23b43e radial-gradient(rgba(255,255,255,0), rgba(255,255,255,.5));
@button-box-shadow-1        : rgba(255,255,255,.6) 0 .3em .3em;
@button-box-shadow-2        : rgba(0,0,0,.2) 0 -.1em .3em;
@button-box-shadow-3        : rgb(128,161,103) 0 7px 1px;
@button-box-shadow-4        : rgba(0,0,0,.2) 0 .5em 5px;

@button-hover               : hsl(131, 100%, 50%);
@button-active-color        : rgba(254, 255, 254, 0.9);
@button-active-text-shadow  : rgba(0,0,0,.2) 0 1px 2px;
@button-active-box-shadow-1 : rgba(255,255,255,.6) 0 .3em .3em;
@button-active-box-shadow-2 : rgba(0,0,0,.2) 0 -.1em .3em;
@button-active-box-shadow-3 : rgba(0,0,0,.4) 0 .1em 1px;
@button-active-box-shadow-4 : rgba(0,0,0,.2) 0 .5em 5px;

@button-after-background-image: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.3));
/*********** BUTTONS  end*************/

@d3-box-shadow-1            : rgba(255, 255, 255, 0.6) 0 1.3em 1.3em;
@d3-box-shadow-2            : rgba(0, 0, 0, 0.2) 0 -1.1em 1.3em;
@d3-box-shadow-3            : #80a167 0 7px 21px;
@d3-box-shadow-4            : rgba(0, 0, 0, 0.2) 0 0.5em 5px;

@card-text-shadow           : 0.2em 0.2em 0.2em rgba(91, 88, 88, 0.82);