/***************** advanced/parallax_sections start ***************/
.parallaxParent{
    position: relative;
    height: 300px;
    overflow: hidden;

    .magicBg{
        background-size: cover;
        height: 150%;
		position: relative;
		top: -75%;
    }
    #homeMagic1{
        background-image: url('/dist/img/bg/01.jpg');
    }

    .inboxText{
        position: absolute;
        z-index: 700;
        right: 5%;
        top: 0%;
        width: fit-content;
        text-align: center;
        min-width: 250px;
        height: fit-content;
        min-height: 150px;

        .effect{
            position: absolute !important;
            width: 250px;
            hr{
                background-color: @red-color;
                margin: 0 !important;
                box-shadow: 0 10px 10px -10px #8c8c8c inset;
            }

            .effect--intro{
                text-transform: uppercase;
                font-size: @font-size-26;
                text-shadow: 2px 2px 4px #000000;
                color: @contrast-text-color;
            }

            .effect--highlight{
                font-weight: 700;
                text-transform: uppercase;
                font-size: @font-size-44;
                text-shadow: 2px 2px 4px #000000;
                color:  @red-color;
            }
        }

        .effect1--highlight{
            width: 250px !important;
        }
    }
}
/***************** advanced/parallax_sections end ***************/
/***************** basic/reveal_on_scroll start ***************/
.reveal-elements{
    .digit {
        opacity: 0;
        -webkit-transform: translateX(-40px);
             -moz-transform: translateX(-40px);
                -ms-transform: translateX(-40px);
                 -o-transform: translateX(-40px);
                        transform: translateX(-40px);
        -webkit-transition: all 0.6s ease-out;
             -moz-transition: all 0.6s ease-out;
                -ms-transition: all 0.6s ease-out;
                 -o-transition: all 0.6s ease-out;
                        transition: all 0.6s ease-out;
    }
    .digit.visible {
        opacity: 1;
        -webkit-transform: none;
             -moz-transform: none;
                -ms-transform: none;
                 -o-transform: none;
                        transform: none;
    }
    .digit:nth-child(2) {
        margin-top: 50px;
    }
    .digit:nth-child(3) {
        margin-top: 100px;
    }
    .digit:nth-child(4) {
        margin-top: 150px;
    }
    .digit:nth-child(5) {
        margin-top: 200px;
    }
}

.reveal-box{
    .reveal {
        opacity: 0;
        -webkit-transform: scale(0.9);
             -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                 -o-transform: scale(0.9);
                        transform: scale(0.9);
        -webkit-transition: all 1s ease-in-out;
             -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                 -o-transition: all 1s ease-in-out;
                        transition: all 1s ease-in-out;
    }
    .reveal.visible {
        opacity: 1;
        -webkit-transform: none;
             -moz-transform: none;
                -ms-transform: none;
                 -o-transform: none;
                        transform: none;
    }

    .reveal.carousel{
        margin: 0 auto;
        text-align: center;
        max-width: 18rem;
        border-radius: 14px;
        background: white;
        width: 300px;
        overflow: inherit;
        margin: auto;
        border-radius: 19px;
        position: relative;
        text-align: center;
        box-shadow: -1px 15px 30px -12px @black-color ;
        z-index: 777;

        .card-header{
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: @box-border-color;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);

            span{
                font-size: @font-size-26;
                font-weight: 200;
                color: @black-color ;
                text-shadow: @card-text-shadow;
            }
        }
        .card-body{
            overflow: hidden;
            h5{
                font-size: @font-size-60;
                font-weight: 900;
                color: @red-color ;
                text-shadow: @card-text-shadow;
            }
        }

        .clash-card__image {
            background: url('/dist/img/cards/01-bg.jpg');
            position: relative;
            height: 200px;
            margin-bottom: 0px;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;

            img {
                width: 300px;
                position: absolute;
                top: -30px;
                left: -30px;
            }
        }


    }
}
/***************** basic/reveal_on_scroll end ***************/