@import "buttons.less";
@import "carousel.less";
@import "converting.less";
@import "datatables.less";
@import "datepicker.less";
@import "fonts.less";
@import "headermenu.less";
@import "scrollmagic.less";
@import "modal.less";
@import "palette.less";
@import "preloader.less";
@import "resolutions.less";
@import "scrolltop.less";
@import "timeline.less";
@import "tooltip.less";

html, body{ height: 100%; }

html * {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background-image: url(/dist/img/nav-bg.png);
    background-color: @white-color !important;
    font-family: 'RobotoCondensed-Regular', Arial, sans-serif !important;
    font-size: @basic-font-size !important;
    font-weight: 300;
    line-height: 1.625em;
}

/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: @team-background-color;
    border-width: 1px 0 0 0;
    border-radius: 10px;
    margin-top: 30px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -32px;
    border-style: solid;
    border-color: @team-background-color;
    border-width: 0 0 1px 0;
    border-radius: 10px;
}

.big-img, .card-img-top    {   cursor: zoom-in;    }
.parse      {   text-align: center; }
#content2   {    height: 60px; padding: 15px 0 0 0 ;}

.alert.card {display: block !important;}
.card{
    .eventtype{ 
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    }

    .btn{
        padding: 0.2em;
        width:70%;
    }


    .card-body{
        padding: 1em;
        p{
            font-size: @basic-font-size;
        }
    }
}

body{
    background-repeat: repeat;
    background-size: auto;
}

.container.m-top{
    border: 1px solid @box-border-color;
    min-height: 100%;
    height: auto;
    background-color: @white-color;

    .empty-row{
        height: 70px !important;
        z-index: -1;
    }
    
    .main {
        float: left;
        padding: 2%;
        position: relative;
    }
    .main.px2{
        padding: 2px 2% !important;
    }
    
    aside {
        border: 1px solid @box-border-color;
        border-radius: 0px;
        position: relative;
        width: 80%;
        margin: 0 auto;
        
        .carousel {
            height: 100%;
        }
    
        img{
            border-radius: 0px;
            width: 100% !important;
        }
    }

    .team-block{
        text-align: center;

        img             {   width: 60%;     }
        .modal-body img {       }
    }

    .alert-team {
        color: @team-color;
        background-color: @team-background-color;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
    }
    
    .text-middle{
        text-align: center;
        vertical-align: inherit;

        p{
            font-size: @basic-font-size !important;
            margin: 0 !important;
        }
        a{
            margin: 0;
        }
    }

}

.main.hr{
    border-top: 0px dotted @divider-color;
}

.content {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

    p {
        padding: 20px;
    }
}

.accordion{
    .alert{
        padding: 0 1.25rem;
        margin-bottom: 1px;
    }
}

label {
    font-size: @basic-font-size !important;

}

.d3-effect,.tooltipster-box {
    box-shadow: 
        inset @d3-box-shadow-1, 
        inset @d3-box-shadow-2, 
        @d3-box-shadow-3, 
        @d3-box-shadow-4;
    transition: background 0.2s ease-in-out;
}

.big-img.d3-effect{
    border-radius: 50%;
}

.card-img-top.d3-effect{
    border-radius: 15px;
}

/*********** BUTTONS  start*************/
.button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: @font-size-16;
    text-shadow: @button-text-shadow;
    text-decoration: none;
    user-select: none;
    margin: 2px 0.5em;
    padding: .5em .6em .4em .6em;
    border-radius: 8px;
    border-top: 1px solid @button-border-top;
    border-bottom: 1px solid @button-border-bottom;
    outline: none;
    background: @button-background;
    box-shadow:
        inset @button-box-shadow-1,
        inset @button-box-shadow-2,
        @button-box-shadow-3,
        @button-box-shadow-4;
    transition: background .2s ease-in-out;
  }
.button.button-success,
.button:hover {
    background-color: @button-hover !important;
}

.scrollTop.button:active  {
    top: unset;
}

.button:active {
    top: .2em;
    color: @button-active-color ;
    text-shadow: @button-active-text-shadow;
    box-shadow:
        inset @button-active-box-shadow-1,
        inset @button-active-box-shadow-1,
        @button-active-box-shadow-1,
        @button-active-box-shadow-1;
}
.scrollTop.button:after {
    background-image: none; 
}
.button:after {
    content:  "";
    position:  absolute; 
    width:   90%;
    height:  60%;
    top:   0;
    left:   5%;    
    border-radius:    .5em .5em 1em 1em / .5em .5em 2em 2em;
    background-image: @button-after-background-image; 
}
.button:active:after {
    opacity: .6;
}

.dropdown-menu{
    box-shadow: none !important;
    background-color: transparent !important;
    border: none !important;
}

.controls-gallery{

    div{
        margin: 0 auto;
    }
    display: flex;
    margin: 0 auto;
    width: fit-content;
    
    span, form{
        float: left;
    }

    .btn-floating:before {
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        top: 0;
        left: 10px;
        font-size: @font-size-18 ;
        color:@white-color;
    }
            
    .fa-play{
        display: none;
    }

    .fa-pause{
        display: inline-block;
    }
}

  /*********** BUTTONS  end*************/

  /************** select start***************/
  form {
    position: relative;
    width: 28rem;
    z-index: 1700;
  }
  
  .chosen-value,
  .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 360px !important;
    overflow: auto;
    border: 1px solid @caption-card;
  }

  .value-list{
    opacity: 0;

    .select-item.active{
        background-color:@primary-color;
        pointer-events: none;
    }
  }
  .value-list.open{
    opacity: 1;
  }
  .chosen-value {
    text-transform: uppercase;
    text-align: center !important;
    font-weight: 500;
    height: 4rem;
    font-size: @basic-font-size;
    padding: 1rem;
    background-color: @white-color;
    border: 3px solid transparent;
    transition: .3s ease-in-out;
    
    &::-webkit-input-placeholder {
      color: @select-datapicker ;
    }
    
    &:hover {

      cursor: pointer;
      
      &::-webkit-input-placeholder {
        color: @select-datapicker ;
      }
    }
    
    &:focus,
    &.open {

      outline: 0;

      color: @black-color;
      
      &::-webkit-input-placeholder {
        color: @black-color;
      }
    }
  }
  
  .value-list {
    list-style: none;
    margin-top: 3rem;
    box-shadow: @button-box-shadow-2;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in-out;
    top:44px;
    
    &.open {
     max-height: 360px;
     overflow: auto;
     border: 1px solid  @caption-card;
    }
    
    li {
      position: relative;
      height: 2rem;
      background-color: @white-color;
      padding: 1rem;
      font-size: @basic-font-size;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color .3s;
      opacity: 1;
      border-bottom: 1px solid  @caption-card;
      
      &:hover {
        background-color: @caption-card;
      }
      
      &.closed {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0;
      }
    }
  }
  /************** select end ****************/

  /******************* googlemap start **************/
  .googleMap{
      height: 400px;
      iframe{
          width:100%;
          height:100%;
      }
  }

  /******************* googlemap end **************/