@import "palette.less";
@import "fonts.less";
@import "headermenu.less";

html, body{
    height: 100%;
}
body{
    background-color: @white-color !important;
    font-family: 'RobotoCondensed-Regular', Arial, sans-serif !important;
    font-size: @basic-font-size !important;
    font-weight: 300;
    line-height: 1.625em;
}

.itemMenu, .big-img{
    cursor: pointer;
}

.parse{
    text-align: center;
}

.modal-open .modal {
    background-color: @modal-background;
}

.modal-body {
    padding: 2rem !important;
}

.modal-content, body, .timeline-item{
    background-image: url(/dist/img/nav-bg.png);
}

.card > div{
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.run{
    background-image: url(/dist/img/logo/run.png);
}

.legion{
    background-image: url(/dist/img/logo/legion.png);
}

.racenation{
    background-image: url(/dist/img/logo/racenation.png);
}

.modal-content{
    background-repeat: repeat-y;
    background-size: contain;
}
body{
    background-repeat: repeat;
    background-size: auto;
}

.container.m-top{
    border: 1px solid @box-border-color;
    min-height: 100%;
    height: auto;
    background-color: @white-color;

    .empty-row{
        height: 70px !important;
        z-index: -1;
    }
    
    .main {
        float: left;
        padding: 2%;
        position: relative;
        .mb-5{
            color: @gray-color;
            padding: 10px;
        }
    }
    
    aside {
        border: 1px solid @box-border-color;
        border-radius: 0px;
        position: relative;
        width: 80%;
        margin: 0 auto;
        
        .carousel {
            height: 100%;
        }
    
        img{
            border-radius: 0px;
                width: 100% !important;
        }
    }

    .team-block{
        text-align: center;

        img{
            width: 60%;
        }

        .modal-body img{
            width: 100%;
        }
    }

    .alert-team {
        color: @team-color;
        background-color: @team-background-color;
        border-color: @team-border-color;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
    }

    .btn-link:hover, .btn-link:focus {
        text-decoration: none !important;
    }

}

.main.hr{
    border-top: 1px dotted @team-border-color;
}
/******* timeline *****************/

.timeline-visual{
    width: 60%;
	height: 400px;
	float: left;
    border-right: 1px dotted @team-border-color;
    text-align: center;
    padding: 2%;
    
    img{
        max-height: 100%;
        max-width: 100%;
    }
}


.timeline-detail{
    width: 40%;
	padding: 2%;
	float: left;
    h6{
	    text-align: center;
    }
}