/******* timeline *****************/

.timeline-container {
    width:800px;
    margin:0 auto;
    height: auto;
    min-height: @min-height-card;

    .controls-top{
        text-align: center;
    }

    .carousel-inner {
            height: auto;
    }
    .timeline-item  {
        width: 800px; 
        height:  100%; 
        min-height: @min-height-card;

        .timeline-visual{
            width: 60%;
            min-height: @min-height-card;
            float: left;
            border-right: 1px dotted @box-shadow-color;
            text-align: center;
            padding: 2%;
            
            img{
                max-height: 100%;
                max-width: 100%;
                width: auto;
        
            }
        }
        
        .timeline-detail{
            width: 40%;
            padding: 2%;
            float: left;
            h5,h6{
                text-align: center;
            }
        
            .niceDate{
                text-align: center;
                color: @red-color;
                padding: 10px 0;
            }
            p{font-size: @basic-font-size}
        
            a.btn{
                color: @white-color !important;
            }
        }
    
    }

}

/********* athlet start ********/
.info-athlet{
    tr td:first-child{ text-align: right}
}
/********* athlet end ********/

.member-info {
    .timeline-item {
        float: none;
        margin: 0 auto;
        min-height: @min-height-card;
    }
}

.timeline-container.member-info{
    min-height: auto;
    max-height: @min-height-card;

    .timeline-visual{
        min-height: auto !important;
        max-height: @min-height-card;

        .memberPhoto{
            height: fit-content;
        }
    }
}

/*********** HOME-page CAROUSEL - start**********/
.wrapper-ol{
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 90%;
    margin: 0 auto;

    .carousel-indicators {
        width: 2000px;
        justify-content: left;
        margin: 0 !important;
        bottom: 0;
        background: url(/dist/img/events/timeline-bg.png) bottom repeat-x;
        li{
            position: relative;
            width: 100px !important;
            height: 15px !important;
            border: none;
            background-color: transparent;
            padding: 0px !important;
            background: url(/dist/img/events/date-icon.png) bottom no-repeat;
            box-shadow: none;
            margin: 0px;

            &::after, &::before{
                    display: none;
            }
            &.active{
                color: @blue-splash-color;
                background-color: transparent;
                background: url(/dist/img/events/date-icon.png) bottom no-repeat;
            }

            .inTimeline{
                position: absolute;
                left: 550px;
                bottom: 5px;
            }
        }
    }
}
/*********** HOME-page CAROUSEL - end **********/


.timeline.card{
    border: 0px solid @team-border-color;
}

body, .timeline-item{
    background-image: url(/dist/img/nav-bg.png);
}


.timeline{
    .timeline-dots-wrap.bottom {
        bottom: 0px;
        position: relative;
        padding: 0;
        margin: 10px;
    }
    .timeline-dots-wrap {
        width: 100%;
        height: 55px;
    }
}
