/*************TOOLTIP **********/
.tooltip-templates { 
    display: none; 
    .tlp{
        p{
            font-size: @basic-font-size !important;
            color:red
        }
    }

}
.tooltipster-content{
    h6{
        text-align: center !important;
        font-size: @font-size-18 !important;
    }
    p{
        font-size: @basic-font-size !important;
    }
}
.mytooltip{
    color: @primary-color;
    text-decoration: underline;
}
